[Desktop Entry]
Comment=Red-Dot-Black-Global Look And Feel
Encoding=UTF-8
Keywords=Desktop;Workspace;Appearance;Look and Feel;Logout;Lock;Suspend;Shutdown;Hibernate;
Name=Red-Dot-Black-Global
Type=Service
X-KDE-PluginInfo-Author=l4k1
X-KDE-PluginInfo-Category=Plasma Look And Feel
X-KDE-PluginInfo-Email=l4k1987@gmail.com
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=GPLv3
X-KDE-PluginInfo-Name=Red-Dot-Black-Global
X-KDE-PluginInfo-Version=4.1
X-KDE-PluginInfo-Website=
X-KDE-fallbackPackage=org.kde.breeze.desktop
X-Plasma-MainScript=defaults
X-KDE-ServiceTypes=Plasma/LookAndFeel
X-KPackage-Dependencies=kns://colorschemes.knsrc/api.kde-look.org/1473366,kns://plasma-themes.knsrc/api.kde-look.org/1473377,kns://aurorae.knsrc/api.kde-look.org/1473363,kns://icons.knsrc/api.kde-look.org/1473369,kns://icons.knsrc/api.kde-look.org/1473367,kns://icons.knsrc/api.kde-look.org/1281798,kns://icons.knsrc/api.kde-look.org/1298508,kns://wallpaper.knsrc/api.kde-look.org/1473352,kns://wallpaper.knsrc/api.kde-look.org/1473353,kns://wallpaper.knsrc/api.kde-look.org/1473355,kns://wallpaper.knsrc/api.kde-look.org/1308121,kns://sddmtheme.knsrc/api.kde-look.org/1473360
