[Desktop Entry]
Comment=Watch_dogs boot screen for Plasma KDE
Encoding=UTF-8
Keywords=Desktop;Workspace;Appearance;Look and Feel;Logout;Lock;Suspend;Shutdown;Hibernate;
Name=WatchDogsBootSplash
Type=Service

X-KDE-ServiceTypes=Plasma/LookAndFeel
X-KDE-ParentApp=
X-KDE-PluginInfo-Author=ferretwithaberet
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Email=andreiradoidev@gmail.com
X-KDE-PluginInfo-License=GPLv2+
X-KDE-PluginInfo-Name=WatchDogsBootSplash
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=
X-Plasma-MainScript=defaults
